.padding {
    margin: 50px 0;
}

.form-container {
    background-image: url("img/form-image.jpg");
    background-size: 100%;
    text-align: right;
    padding: 12px 40px;
}

.custom-form-row {
    margin-top: 50px;
    color: #4f4747;
}

.rodo-label {
    font-size: small;
}

.text-muted {
    margin-top: 50px;
}

.round-image {
    width: 100%;
    border-radius: 50%;
}

.icon-content {
    font-size: 3em;
}


div .cookie-container {
    padding: 2rem 0rem;
}

div .cookie-modal-dialog {
    margin-top: 0rem;
    max-width: 100%;
}

div .cookie-modal-content {
    border-radius: 0rem;
}

.btn .cookie-btn {
    margin: 0.2rem;
}

.rem-list {
    font-size: 1.4rem;
}

div .jumbotron {
    background-image: url("img/t2.jpg");
}
