<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js?render=6LcCIeMUAAAAAIHvuC0wJ19afZlrPhnoq8-wg6A3"></script>
    <script src="https://use.fontawesome.com/26814f356b.js"></script>
    <title>FTS Południe</title>
</head>
<body>
<div class="container-fluid">
    <main role="main">
        <section class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-12 offset-sm-0">
                    <h2>Wprowadź hasło</h2>
                    <form action="/admin/csv" method="post">
                        <div class="input-group">
                            <input type="password" name="password" class="form-control"/>
                            <input type="hidden" name="token" id="token"/>
                            <button type="submit" class="btn btn-primary">Pobierz</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
</div>
<script type="text/javascript">
    grecaptcha.ready(function () {
        grecaptcha.execute('6LcCIeMUAAAAAIHvuC0wJ19afZlrPhnoq8-wg6A3', {action: 'registration'}).then(function (token) {
            document.getElementById('token').value = token;
        });
    });
</script>
</body>
</html>
