<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/26814f356b.js"></script>
        <script src="https://www.google.com/recaptcha/api.js?render=6LcCIeMUAAAAAIHvuC0wJ19afZlrPhnoq8-wg6A3"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">
        <link rel="stylesheet" href="style.css">
        <title>FTS Południe</title>
    </head>
    <body>
        {% include "header.html.twig" %}
        {% include "container.html.twig" %}
        {% block body %}{% endblock %}
        {% include "cookie.html.twig" %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <script>
            grecaptcha.ready(function() {
                grecaptcha.execute('6LcCIeMUAAAAAIHvuC0wJ19afZlrPhnoq8-wg6A3', {action: 'registration'}).then(function(token) {
                    document.getElementById('captcha_token').value = token;
                });
            });

            if (document.cookie !== 'cookies=true') {
                $('#cookie-modal').modal('show');
            }

            $('#cookie-accept').click(function () {
                console.log('cookie');
                document.cookie = "cookies=true; expires=Thu, 18 Dec 2050 12:00:00 UTC";
            });
        </script>
    </body>
</html>
