<div class="container-fluid">

    <main role="main">

        {% if flashBag.success is defined %}
            <section class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 offset-sm-0">
                        <div class="alert alert-success" role="alert">
                            {{ flashBag.success|first }}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if flashBag.error is defined %}
            <section class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-sm-12 offset-sm-0">
                        <div class="alert alert-danger" role="alert">
                            {{ flashBag.success|first }}
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        <section class="jumbotron text-center d-none d-md-block">
            <div class="container">
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://player.vimeo.com/video/401915752" width="640" height="360" frameborder="0"
                                allow="autoplay; fullscreen" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </section>

        <section class="container d-sm-block d-md-none">
            <section class="padding"></section>

            <div class="row">
                <div class="col-lg-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://player.vimeo.com/video/401915752" width="640" height="360" frameborder="0"
                                allow="autoplay; fullscreen" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>

            <section class="padding"></section>
        </section>

        <section class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-12 offset-sm-0">
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                            data-target=".bd-form-modal">
                        ZAMAWIAM KONTAKT
                    </button>
                </div>
            </div>
        </section>

        <section class="padding"></section>

        <section class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12 text-center">
                    <img src="img/IMG-3284.JPG" class="round-image" alt="Obrazek"/>
                </div>
                <div class="col-md-8 col-sm-12 align-self-center">
                    Andrzej Kozłowski - mam 26 lat i mieszkam w Katowicach. Łączę pracę na etacie z pomocą w zarabianiu
                    dodatkowych pieniędzy w nowoczesny sposób. Znany jestem ze zdrowego i aktywnego trybu życia,
                    interesuje się piłką nożną i tatuażem. Wierzę, że wszyscy moi rówieśnicy i nie tylko powinni poznać
                    możliwość, dzięki której tak jak ja będą mogli osiągnąć dodatkowe zarobki w ciągu kilku miesięcy, a
                    z czasem będą mogli sami zdecydować kiedy, gdzie i w jaki sposób chcą pracować.
                    <div>
                        <a href="https://www.facebook.com/andrzej.kozlowski.19" target="_blank ">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i> @Andrzej Kozłowski
                        </a><br>
                        <a href="https://www.instagram.com/kosmo_jr" target="_blank">
                            <i class="fa fa-instagram fa-3"></i>  @kosmo_jr
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="padding"></section>

        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-12 overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5 text-center">Ten temat jest dla Ciebie jeśli...</h2>
                        <p class="lead">
                        <ul class="rem-list">
                            <li>Jesteś pracownikiem etatowym i chcesz coś zmienić w swoim życiu.</li>
                            <li>Jesteś ambitny i lubisz wyznaczać sobie coraz wyższe cele.</li>
                            <li>Chcesz robić to co sprawia Ci przyjemność.</li>
                            <li>Stawiasz na rozwój i realizację swoich celów.</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <section class="padding"></section>

        <section class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-12 offset-sm-0">
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                            data-target=".bd-form-modal">
                        Zapisz się na bezpłatną rozmowę
                    </button>
                </div>
            </div>
        </section>

        <section class="padding"></section>

        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-12 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Jak to działa?</h2>
                        <div class="row lead padding">
                            <div class="col-md-6 col-sm-12">
                                <div class="text-center col-lg-12">
                                    <i class="fa fa-list-ol fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="col-lg-12 padding">
                                    <p>
                                        Prosty sposób, w jaki możesz zarezerwować bezpłatną rozmowę telefoniczną.
                                    </p>
                                    <p>
                                        Po kliknięciu przycisku otworzy się krótki formularz. Po prostu wprowadź swoje
                                        dane
                                        i prześlij prośbę. (Zajmuje to maksymalnie 30 sekund)
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="text-center col-lg-12">
                                    <i class="fa fa-volume-control-phone fa-5x" aria-hidden="true"></i>
                                </div>
                                <div class="col-lg-12 padding">
                                    <p>
                                        Po przesłaniu zapytania ja lub lub jeden z moich najlepszych wspólników
                                        skontaktuje
                                        się z Tobą i pokaże Ci w jakiej okazji rynkowej masz szansę wziąć udział.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="padding"></section>

        <section class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-12 offset-sm-0">
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                            data-target=".bd-form-modal">
                        Rejestracja
                    </button>
                </div>
            </div>
        </section>

        <section class="padding"></section>

    </main>

    <footer class="text-muted">
        <div class="container">
            <p class="text-center">
                FTS Południe
            </p>
            <p>
                <a href="/files/umowa.pdf" target="_blank">Polityka prywatności</a>
            </p>
        </div>
    </footer>

    {% include "modal.html.twig" %}
</div>
