<div class="modal fade" id="cookie-modal" tabindex="-1" role="dialog" aria-labelledby="cookies" aria-hidden="true">
    <div class="modal-dialog cookie-modal-dialog" role="document">
        <div class="modal-content cookie-modal-content">
            <div class="modal-body">
                <div class="notice d-flex justify-content-between align-items-center">
                    <div class="cookie-text">
                        &#x1F36A; Używamy informacji zapisanych za pomocą plików cookies w celu zapewnienia maksymalnej
                        wygody w korzystaniu z naszego serwisu. Mogą też korzystać z nich współpracujące z nami firmy
                        badawcze oraz reklamowe. Jeśli nie wyrażasz zgody, ustawienia dotyczące plików cookies możesz
                        zmienić w swojej przeglądarce.
                    </div>
                    <div class="buttons d-flex flex-column flex-lg-row">
                        <a href="#" id="cookie-accept" class="btn btn-success btn-sm cookie-btn" data-dismiss="modal">Zgadzam się</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
