<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
{#                #Logo#&nbsp&nbsp&nbsp#}
                <strong>FTS Południe</strong>
            </a>
        </div>
    </div>
</header>
