<form method="post" action="/register">
    <div class="modal fade bd-form-modal" tabindex="-1" role="dialog" aria-labelledby="large-modal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Wprowadź swoje dane. Skontaktujemy się z
                        Tobą!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12">
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-10 offset-sm-2 col-form-label text-center">
                                    Twoje dane są w 100% bezpieczne, nie będą przekazywane osobą nieupoważnionym
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Imię</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" id="name"
                                           placeholder="Wpisz swoje imię" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="Wpisz swój email" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="city" class="col-sm-2 col-form-label">Miasto</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="city" name="city"
                                           placeholder="Wpisz swoje miasto" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-sm-2 col-form-label">Telefon</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="phone" name="phone"
                                           placeholder="Wpisz swój telefon" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10 offset-sm-2 col-form-label text-right rodo-label">
                                    Wypełnienie formularza oznacza, że podane w nim dane osobowe będą przetwarzane w
                                    celu
                                    przesłania
                                    oferty oraz kontaktu w jej sprawie.
                                    <a href="/files/umowa.pdf" target="_blank">Dowiedz się kto i jak przetwarza Twoje dane.</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="captcha_token" id="captcha_token"/>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                </div>
            </div>
        </div>
    </div>
</form>
